/*
 * @author	Nico Alt
 * @date	16.03.2016
 *
 * See the file "LICENSE" for the full license governing this code.
 */
.responsiveTable {
	width: 100%;
	margin:0;
	padding:0;
}

.responsiveTable tr {
	padding: 5px;
	border-bottom: 1.5px solid #000;
}

.responsiveTable th, table td {
	padding: 4px;
	text-align: center;
}

.responsiveTable th {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	border-bottom: 2px solid #000;
}

.tableTeacher {
	font-weight: bold;
}

@media screen and (max-width: 820px) {
	.responsiveTable thead {
		display: none;
	}

	.responsiveTable tr {
		margin-bottom: 10px;
		display: block;
		border-bottom: 1px solid #000;
	}

	.responsiveTable td {
		display: block;
		text-align: right;
		font-size: 13px;
		border-bottom: 1px dotted #ccc;
	}

	.responsiveTable td:last-child {
		border-bottom: 0;
	}

	.responsiveTable td:before {
		content: attr(data-label);
		float: left;
		font-weight: bold;
	}
}
